# Introduction

In these exercises we'll apply groupwise analysis to our dataset.

Run the code cell below to load the data before running the exercises.

In [1]:
import pandas as pd

reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)
#pd.set_option("display.max_rows", 5)

In [3]:
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

# Exercises

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [5]:
# Your code here
reviews_written = reviews['winery'].value_counts()

reviews_written

winery
Williams Selyem          374
Testarossa               274
DFJ Vinhos               258
Chateau Ste. Michelle    225
Columbia Crest           217
                        ...
Republic of Wine           1
Prince Michel              1
Glass House                1
Jones von Drehle           1
White Knot                 1
Name: count, Length: 14810, dtype: int64

## 2.
What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [6]:
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
best_rating_per_price

price
4.0        86
5.0        90
6.0        90
7.0        90
8.0        91
         ...
1300.0     96
1400.0    100
1900.0     98
2013.0     91
2300.0     99
Name: points, Length: 357, dtype: int64

## 3.
What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [7]:
price_extremes = reviews.groupby('variety')['price'].agg(['min', 'max'])
price_extremes

                         min    max
variety
Agiorgitiko              8.0   65.0
Aglianico                6.0  130.0
Aidani                  27.0   27.0
Airen                    8.0   10.0
Albana                   8.0   66.0
...                      ...    ...
Zierfandler-Rotgipfler  20.0   25.0
Zinfandel                4.0  100.0
Zlahtina                13.0   17.0
Zweigelt                 9.0   70.0
Žilavka                 13.0   15.0

[632 rows x 2 columns]

## 4.
What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [8]:
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=[False, False])
sorted_varieties

                                  min    max
variety
Cabernet-Shiraz                 150.0  150.0
Mazuelo                          92.0  105.0
Carignan-Syrah                   80.0   80.0
Syrah-Cabernet Franc             69.0   69.0
Nasco                            65.0   65.0
...                               ...    ...
Rabigato                          NaN    NaN
Sacy                              NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Terret Blanc                      NaN    NaN
Zelen                             NaN    NaN

[632 rows x 2 columns]

## 5.
Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [9]:
reviewer_mean_ratings = reviews.groupby('winery')['points'].mean()

reviewer_mean_ratings

winery
'37 Cellars          88.000000
1+1=3                83.800000
10 Knots             84.375000
1000 Stories         90.000000
1040FU               82.000000
                       ...
Ñandú                83.333333
Único Luis Miguel    85.000000
àMaurice             91.477273
áster                87.000000
Štoka                89.000000
Name: points, Length: 14810, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the `describe()` method to see a summary of the range of values.

In [10]:
reviewer_mean_ratings.describe()

count    14810.000000
mean        87.370020
std          2.685948
min         80.000000
25%         85.500000
50%         87.285714
75%         89.114316
max        100.000000
Name: points, dtype: float64

## 6.
What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

In [11]:
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
country_variety_counts

country      variety
US           Pinot Noir                  10340
             Cabernet Sauvignon           9178
             Chardonnay                   8127
France       Bordeaux-style Red Blend     4960
US           Syrah                        4274
                                         ...
France       Pied de Perdrix                 1
Tunisia      White Blend                     1
             Rosé                            1
Switzerland  White Blend                     1
US           Carignan-Grenache               1
Length: 1475, dtype: int64

# Keep going