# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd

reviews = pd.read_csv("winemag-data_first150k.csv", index_col=0)

# Exercises

## 1. 
What is the data type of the `points` column in the dataset?

In [2]:
# Your code here
dtype = reviews['points'].dtype
dtype

dtype('int64')

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [5]:
point_strings = reviews['points'].astype(str)

point_strings

0         96
1         96
2         96
3         96
4         95
          ..
150925    91
150926    91
150927    91
150928    90
150929    90
Name: points, Length: 150930, dtype: object

## 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [6]:
n_missing_prices = reviews['price'].isnull().sum()
n_missing_prices

13695

## 4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:

```
Unknown                    21247
Napa Valley                 4480
                           ...  
Bardolino Superiore            1
Primitivo del Tarantino        1
Name: region_1, Length: 1230, dtype: int64
```

In [7]:
reviews_per_region = reviews['region_1'].fillna('Unknown').value_counts().sort_values(ascending=False)

reviews_per_region

region_1
Unknown                         25060
Napa Valley                      6209
Columbia Valley (WA)             4975
Mendoza                          3586
Russian River Valley             3571
                                ...
Vin de Pays de Côtes du Tarn        1
Clos de Lambrays                    1
California-Oregon                   1
Mâcon-Mancey                        1
Coteaux du Tricastin                1
Name: count, Length: 1237, dtype: int64

# Keep going